<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
         bootstrap="tests/bootstrap.php">
    <testsuites>
      <testsuite name="Core Nozavroni/Collections Functionality">
          <file>tests/FunctionsTest.php</file>
          <file>tests/Collection/CollectionTest.php</file>
          <file>tests/Collection/CharCollectionTest.php</file>
          <file>tests/Collection/NumericCollectionTest.php</file>
          <file>tests/Collection/MultiCollectionTest.php</file>
          <file>tests/Collection/TabularCollectionTest.php</file>
          <file>tests/Collection/ObjectCollectionTest.php</file>
      </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>
